# {{ ansible_managed }}

server {
    listen 80{% if item.value.default_server is defined %} default_server{% endif %};
    listen 443 ssl{% if item.value.default_server is defined %} default_server{% endif %};
    server_name {{ item.value.server_name }};
    ssl_certificate {{ nginx_conf_dir }}/ssl/server.crt;
    ssl_certificate_key {{ nginx_conf_dir }}/ssl/server.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
    ssl_session_timeout 5m;
    autoindex on;
    location ^~ /.well-known {
        alias /var/www/html/.well-known;
    }

    error_log "/var/log/nginx/{{ item.value.server_name.split()[0] }}.error.log" error;
    access_log "/var/log/nginx/{{ item.value.server_name.split()[0] }}.access.log" main;

    root {{ item.value.root }};

    location = /50x.html {
        root /usr/share/nginx/html;
    }

    location ~ \.php {
        expires off;
        fastcgi_pass unix:/var/run/php-fpm-{{ item.value.php_version }}.sock;
        fastcgi_index index.php;
        fastcgi_read_timeout 300;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /(?<project>[^/]+).* {
        index index.php index.html index.htm;
        try_files $uri $uri/ /$project/index.php$is_args$args;
    }

    location / {
        index index.php index.html index.htm;
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Prevent access to any files starting with a dot, like .htaccess
    # or text editor temp files
    location ~ /\. { access_log off; log_not_found off; deny all; }

    # Prevent access to any files starting with a $ (usually temp files)
    location ~ ~$ { access_log off; log_not_found off; deny all; }

    # Do not log access to the favicon, to keep the logs cleaner
    location = /favicon.ico { access_log off; log_not_found off; }

    # with a text/plain mime type, to prevent them from being executed by
    # the PHP handler
    location ~* ^/images/.*.(html|htm|shtml|php)$ {
        types { }
        default_type text/plain;
    }
}
