# {{ ansible_managed }}

server {
{% if item.value.ssl_redirect is defined %}
    listen 80;
    error_log off;
    access_log off;
    server_name {{ item.value.server_name }};
    location ^~ /.well-known {
        alias /var/www/html/.well-known;
    }
    return 301 https://$host$request_uri;
}

server {
{% else %}
    listen 80;
{% endif %}{% if item.value.ssl is defined or item.value.ssl_redirect is defined %}
    listen 443 ssl;
{% if item.value.ssl_certificate is defined %}
    ssl_certificate {{ item.value.ssl_certificate }};
{% else %}
    ssl_certificate /etc/letsencrypt/live/{{ item.value.server_name.split()[0] }}/fullchain.pem;
{% endif %}
{% if item.value.ssl_certificate_key is defined %}
    ssl_certificate_key {{ item.value.ssl_certificate_key }};
{% else %}
    ssl_certificate_key /etc/letsencrypt/live/{{ item.value.server_name.split()[0] }}/privkey.pem;
{% endif %}
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
    ssl_session_timeout 5m;
{% endif %}
    server_name {{ item.value.server_name }};
{% if item.value.client_max_body_size is defined %}
    client_max_body_size {{ item.value.client_max_body_size }};
{% endif %}

    error_log "/var/log/nginx/{{ item.value.server_name.split()[0] }}.error.log" error;
    access_log "/var/log/nginx/{{ item.value.server_name.split()[0] }}.access.log" main;

    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt { log_not_found off; access_log off; }
    location ~ /\. { deny all; access_log off; log_not_found off; }

    location ^~ /.well-known {
        alias /var/www/html/.well-known;
    }

    location / {
        proxy_pass            {{ item.value.proxy_pass }};
        proxy_read_timeout    90;
        proxy_connect_timeout 90;
        proxy_redirect        off;
{% if item.value.proxy_set_header is defined %}
{% for header in item.value.proxy_set_header %}
        proxy_set_header      {{ header }};
{% endfor %}
{% endif %}
{% if item.value.proxy_socket is defined %}
        proxy_http_version    1.1;
        proxy_set_header      Upgrade $http_upgrade;
        proxy_set_header      Connection "upgrade";
{% endif %}
    }
}
